h2 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.figure {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

youtube{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100px;
}

texte {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    color:black;
    background-color:rgb(223, 222, 222);

    }