h2 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
h1 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    color: rgb(21, 22, 78);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.figure {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

youtube{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100px;
}



p {
    color: rgb(21, 22, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: rgb(21, 22, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

texte {
    color: rgb(21, 22, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
